body
{
background-color:rgb(240,240,240);
}

#slider{

}


 #header {
	font-size: 18px;
   font-family: Helvetica, Arial, Sans-Serif;
   color: rgb(80,80,80);
   }
 		
			.axis path,
			.axis line {
				fill: none;
				stroke: grey;
				shape-rendering: crispEdges;

			}

			.axis text {
				font-family: sans-serif;
				font-size: 13px;
				fill: rgb(80,80,80);
			}

		a, img {
    border:none;
}

   .aParent div {
  float: left;
  clear: none; 
}

#dropDown, #dropDown2, #dropDown3 {
	font-size: 13px;
   font-family: Helvetica, Arial, Sans-Serif;
   color: rgb(80,80,80);
   }
